<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <title>BlogSpace</title>
</head>
<header>
  <nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">BlogSpace</a>
     <a href="/NewPost"><button class="button"><i class="fa-regular fa-plus"></i>Add New Post</button></a>
  </nav>
</header>
<script src="https://kit.fontawesome.com/4cd48c87a3.js" crossorigin="anonymous"></script>
<main class="container">